@use "../config";

.container {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  article {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: config.$secondaryColor;
    border-radius: 25px;
    width: 80%;
    height: 70%;
  }
}
