@use "../../config";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1%;
  padding-top: 25px;
  padding-bottom: 25px;

  .btn {
    background-color: darken(config.$background, 50%);
    border: none;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;

    &:hover {
      cursor: pointer;
      background-color: darken(config.$background, 55%);
    }
  }
}
